.slider {
  width: 902px;
  border-radius: 19px;
  margin-top: -15px;
  .slider__item {
    outline: none;
    overflow: hidden;
    border-radius: 5px;

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }

  .slick-arrows {
    display: none;
  }

  .slick-dots {
    bottom: 2px;

    li {
      width: 30px;
    }

    .slick-active button {
      background-color: rgb(13, 11, 11);
    }

    button {
      width: 100%;
      background-color: #333535;
      height: 6px;
      padding: 0;
      &::before {
        content: unset;
      }
    }
  }
}
